
.NPOS_dimmed {
  opacity: 0.15;
}

.NPOS_coverArea {
  position: relative;
  width: 100%;
}

.NPOS_albumCover {
  width: 100%;
}

.NPOS_logoImage {
  opacity: 0.2;
  position: absolute;
  right: 0;
  width: 100px;
}

.NPOS_wherePlaying {
  background-color: rgba(170, 170, 170, 0.75);
  box-sizing: border-box;
  color: black;
  left: 0;
  margin-top: -2em;
  max-width: 30ch;
  padding: 0.3em 1em 0.3em 1em;
  position: absolute;
  width: 100%;
}

.NPOS_infoText {
  max-width: 30ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.NPOS_icon {
  margin-right: 1em;
}

progress.NPOS_progress {
  background-color: transparent;
  border-radius: 1em;
  border: 1px solid #aaaaaa;
  height: 0.5em;
  width: 100%;
}

progress[value].NPOS_progress::-webkit-progress-bar {
  background-color: transparent;
}

progress[value].NPOS_progress::-webkit-progress-value {
  background-color: #aaaaaa;
}